@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #f0f0f0;  
  font-family: 'Montserrat', sans-serif;
}

#container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
}

#left {
  background: #ff0000;
  color: #f0f0f0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 2rem 0;
  width: 100%;
}

img {
  border-radius: 50%;
}

p {
  margin-top: 2rem;
}

p:not(:first-child) {
  margin-top: 1rem;
}

#username::after {
  content: attr(data-testid);
  font-size: 4rem;
  margin: 0;
}

#day-of-the-week::after {
  content: attr(data-testid);
  font-size: 3rem;
}

#current-utc-time::after {
  content: attr(data-testid);
  font-size: 1.5rem;
}

#track::after {
  content: attr(data-testid);
  font-size: 1.5rem;
}

#github-url::after {
  content: attr(data-testid);
  font-size: 1.5rem;
}


#right {
  background: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4rem 0;
  width: 100vw;
}